<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Le web de Clément - Page introuvable</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="clementsblog/public/theme/vendor/bootstrap/css/bootstrap.min.css" >
        <!-- Custom fonts for this template -->
        <link href="clementsblog/public/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
        <!-- Custom styles for this template -->
         <link href="clementsblog/public/theme/css/clean-blog.css" rel="stylesheet">
        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="clementsblog/public/css/404.css" />
    </head>
    <body>
        <div id="notfound">
            <div class="notfound">
                    <div class="notfound-404">
                        <h3>Oops! Page introuvable</h3>
                        <h1><span>4</span><span>0</span><span>4</span></h1>
                    </div>
                    <h2>Navré, cette page n'existe pas</h2>
                    <a href='/clementsblog/'><button class="btn btn-dark">Retour à l'accueil</button></a>
            </div>
        </div>
    </body>
</html>
<!-- This templates was made by Colorlib (https://colorlib.com), merci à eux -->
